In [1]:
import mysql.connector

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="bmsce"
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x00000162039E6AC0>

In [7]:
mycursor = mydb.cursor()

mycursor.execute("SHOW DATABASES")

for x in mycursor:
  print(x)

('information_schema',)
('mydatabase',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('trial',)
('world',)

In [6]:
mycursor = mydb.cursor()

mycursor.execute("CREATE DATABASE trial")

In [11]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="bmsce",
  database="trial"
)

In [12]:
mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Student (name VARCHAR(255), USN VARCHAR(10))")

In [19]:
a=input("Enter Name of Student")
b=input("Enter USN")

Enter Name of StudentBharath
Enter USN1BM19CS035

In [20]:
mycursor = mydb.cursor()

sql = "INSERT INTO Student(name, USN) VALUES (%s, %s)"
val = (a, b)
mycursor.execute(sql, val)

mydb.commit()

print(mycursor.rowcount, "record inserted.")

1 record inserted.

In [23]:
mycursor = mydb.cursor()

mycursor.execute("SELECT * FROM Student")

myresult = mycursor.fetchall()

for x in myresult:
  print(x)

('Neelam', '1BM19CS220')
('Bharath ', '1BM19CS035')

In [22]:
mycursor = mydb.cursor()

sql = "DELETE FROM Student WHERE USN = '1BM19CS100'"

mycursor.execute(sql)

mydb.commit()

print(mycursor.rowcount, "record(s) deleted")

1 record(s) deleted